html{
    background-color: #396ba5;
    color: white;
}

.bloc1{
    height: 60px;
}
#b11{
    background-color: blue;
    margin-bottom: 20px;
}
#b12{
    background-color: green;
}

.bloc2{
    margin-right:20px;
    width: 100px;
    height: 50px;
    position:relative;
    display: inline-block;
}
#b21{
    background-color: blue;
}
#b22{
    background-color: green;
}
#b23{
    background-color: red;
}
#b31{
    background-color: blue;
    padding:40px;
    width: 100px;
    height: 100px;
}
#b32{
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin: 20px;
    color: black;
}