body{
    background-color: #396ba5;
}

.box{
    display: block;
    margin: 20px calc(50% - 250px);
    width: 500px;
    height: 800px;
    perspective: 100vw;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.box:hover .inner{
    transform: rotateY(180deg);
}

.front{
    backface-visibility: hidden;
    background-color: #bbb;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back{
    background-color: #008080;
    color: white;
    transform: rotateY(180deg);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}