table {
    background-color: black;
}
td {
    background-color: blue;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flexbox;
    text-align: center;
    justify-content: center;
    font-size: 80px;
}

.clicked {
    background-color: red;
}

.hide {
    display: none;
}