* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.menu {
  position: relative;
  background-color: #333;
  width: 200px;
  margin-left: -200px;
  transition: all 300ms ease;
}
.menu ul {
  list-style: none;
  margin-top: 40px;
  width: 100%;
}
.menu ul a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  width: 100%;
}
.menu ul a li {
  width: 100%;
  padding: 10px;
}
.menu ul a li:hover {
  background-color: #444;
}
.content {
  padding: 10px;
  position: relative;
  width: 100%;
}
